<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.ClassroomMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Classroom">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="address" property="address" />
    <result column="seats" property="seats" />
    <result column="remark" property="remark" />
    <result column="state" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from classroom
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into classroom (name, address, seats, remark, state)
    values (#{name}, #{address}, #{seats}, #{remark}, #{state})
  </insert>
  <update id="updateByPrimaryKey">
    update classroom
    set name = #{name},
      address = #{address},
      seats = #{seats},
      remark = #{remark},
      state = #{state}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, name, address, seats, remark, state
    from classroom
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, address, seats, remark, state
    from classroom
  </select>
    <select id="queryCount" resultType="int" parameterType="cn.wolfcode.crm.query.QueryObjects">
      select count(id) from classroom
      <include refid="base_where"/>

    </select>
  <select id="queryList" resultType="classroom" parameterType="cn.wolfcode.crm.query.QueryObjects">
    select name,address,seats,remark,state
    from classroom
    <include refid="base_where"/>
    limit #{start},#{pageSize}
  </select>
  <update id="updateState">
    update classroom set state=state^1 where id=#{id}
  </update>


  <sql id="base_where">
    <where>
      <if test="keyword != null and keyword != ''">
        and (name like concat('%',#{keyword},'%') or address like concat('%',#{keyword},'%'))
      </if>
    </where>
  </sql>



</mapper>