<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.ClassmanagementMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Classmanagement">
    <id column="id" property="id" />
    <result column="gradeuser" property="gradeuser" />
    <result column="studenquantity" property="studenquantity" />
    <!--<result column="college_id" property="college_id" />-->
    <result column="gradestate" property="gradestate" />
    <!--<result column="classroom_id" property="classroom_id" />
    <result column="employee_id" property="employee_id" />-->
    <association property="emp" javaType="employee" columnPrefix="e_">
      <id column="id" property="id"/>
      <result column="realname" property="realname"/>
    </association>
    <association property="college" javaType="dataDictionary" columnPrefix="d_">
      <id column="id" property="id"/>
      <result column="name" property="name"/>

    </association>
    <association property="room" javaType="classroom" columnPrefix="r_">
      <id column="id" property="id"/>
      <result column="name" property="name"/>
    </association>

  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from classmanagement
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into classmanagement (gradeuser, studenquantity, college_id, gradestate, classroom_id, 
      employee_id)
    values (#{gradeuser}, #{studenquantity}, #{college.id}, #{gradestate}, #{classroom.id}, 
      #{employee.id})
  </insert>
  <update id="updateState">
    update classmanagement set state=state^1 where id=#{id}
  </update>
  <update id="updateByPrimaryKey">
    update classmanagement
    set gradeuser = #{gradeuser},
      studenquantity = #{studenquantity},
      college_id = #{college.id},
      gradestate = #{gradestate},
      classroom_id = #{classroom.id},
      employee_id = #{employee.id}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, gradeuser, studenquantity, college_id, gradestate, classroom_id, employee_id
    from classmanagement
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select c.id , c.gradeuser , c.studenquantity,d.name d_name,
    c.gradestate,
    r.name r_name,e.realname e_realname
    from `classmanagement` c left join datadictionary d on c.college_id = d.id
    left join classroom r on c.classroom_id = r.id
    left join employee e on c.employee_id = e.id
  </select>
  <select id="queryCount" resultType="int" parameterType="cn.wolfcode.crm.query.QueryObjects">
    select count(id) from classmanagement

  </select>
  <select id="queryList" resultMap="BaseResultMap" parameterType="cn.wolfcode.crm.query.QueryObjects">
    select c.id , c.gradeuser , c.studenquantity,d.name d_name,
    c.gradestate,
    r.name r_name,e.realname e_realname
    from `classmanagement` c left join datadictionary d on c.college_id = d.id
    left join classroom r on c.classroom_id = r.id
    left join employee e on c.employee_id = e.id
    limit #{start},#{pageSize}
  </select>
</mapper>