<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Customer">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="weChat" property="weChat" />
    <result column="QQ" property="QQ" />
    <result column="tel" property="tel" />
    <result column="age" property="age" />
    <result column="gender" property="gender" />
    <result column="email" property="email" />
    <result column="province" property="province" />
    <result column="diplomas" property="diplomas" />
    <result column="major" property="major" />
    <result column="school" property="school" />
    <result column="graduateTime" property="graduateTime" />
    <result column="workSeniority" property="workSeniority" />
    <result column="inputUser_id" property="inputUser_id" />
    <result column="salesman_id" property="salesman_id" />
    <result column="inputTime" property="inputTime" />
    <result column="source" property="source" />
    <result column="collegeClient" property="collegeClient" />
    <result column="clientType" property="clientType" />
    <result column="intentionCampus" property="intentionCampus" />
    <result column="intentionSubject" property="intentionSubject" />
    <result column="intentionClass" property="intentionClass" />
    <result column="intentionExtent" property="intentionExtent" />
    <result column="state" property="state" />
    <result column="computer" property="computer" />
    <result column="nextFollowDate" property="nextFollowDate" />
    <result column="concern" property="concern" />
    <result column="remark" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from customer
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into customer (name, weChat, QQ, tel, age, gender, email, province, 
      diplomas, major, school, graduateTime, workSeniority, inputUser_id, 
      salesman_id, inputTime, source, collegeClient, clientType, intentionCampus, 
      intentionSubject, intentionClass, intentionExtent, state, computer, 
      nextFollowDate, concern, remark)
    values (#{name}, #{weChat}, #{QQ}, #{tel}, #{age}, #{gender}, #{email}, #{province}, 
      #{diplomas}, #{major}, #{school}, #{graduateTime}, #{workSeniority}, #{inputUser_id}, 
      #{salesman_id}, #{inputTime}, #{source}, #{collegeClient}, #{clientType}, #{intentionCampus}, 
      #{intentionSubject}, #{intentionClass}, #{intentionExtent}, #{state}, #{computer}, 
      #{nextFollowDate}, #{concern}, #{remark})
  </insert>
  <update id="updateByPrimaryKey">
    update customer
    set name = #{name},
      weChat = #{weChat},
      QQ = #{QQ},
      tel = #{tel},
      age = #{age},
      gender = #{gender},
      email = #{email},
      province = #{province},
      diplomas = #{diplomas},
      major = #{major},
      school = #{school},
      graduateTime = #{graduateTime},
      workSeniority = #{workSeniority},
      inputUser_id = #{inputUser_id},
      salesman_id = #{salesman_id},
      inputTime = #{inputTime},
      source = #{source},
      collegeClient = #{collegeClient},
      clientType = #{clientType},
      intentionCampus = #{intentionCampus},
      intentionSubject = #{intentionSubject},
      intentionClass = #{intentionClass},
      intentionExtent = #{intentionExtent},
      state = #{state},
      computer = #{computer},
      nextFollowDate = #{nextFollowDate},
      concern = #{concern},
      remark = #{remark}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, name, weChat, QQ, tel, age, gender, email, province, diplomas, major, 
    school, graduateTime, workSeniority, inputUser_id, salesman_id, inputTime, source, 
    collegeClient, clientType, intentionCampus, intentionSubject, intentionClass, intentionExtent, 
    state, computer, nextFollowDate, concern, remark
    from customer
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, weChat, QQ, tel, age, gender, email, province, diplomas, major, 
    school, graduateTime, workSeniority, inputUser_id, salesman_id, inputTime, source, 
    collegeClient, clientType, intentionCampus, intentionSubject, intentionClass, intentionExtent, 
    state, computer, nextFollowDate, concern, remark
    from customer
  </select>
</mapper>