<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Department">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="sn" property="sn" />
    <result column="state" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from department
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into department (name, sn, state)
    values (#{name}, #{sn}, #{state})
  </insert>
  <update id="updateByPrimaryKey">
    update department
    set name = #{name},
      sn = #{sn},
      state = #{state}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, name, sn, state
    from department
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, sn, state
    from department
  </select>
  <select id="queryCount" resultType="int">
    select count(id) from department
  </select>
  <select id="queryList" resultMap="BaseResultMap">
    select id, name, sn, state from department
    limit #{startIndex},#{rows}
  </select>
    <select id="selectByName" resultType="department">
      select id,name from department where name=#{name}
    </select>
</mapper>