<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Department">
    <id column="id" property="id" />
    <result column="sn" property="sn" />
    <result column="name" property="name" />
    <result column="state" property="state" />
    <association property="manager" column="manager_id" select="cn.wolfcode.crm.mapper.EmployeeMapper.selectByPrimaryKey"></association>
    <association property="parent" column="parent_id" select="selectByPrimaryKey"></association>
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from department
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into department (sn, name, state, manager_id, parent_id)
    values (#{sn}, #{name}, #{manager.id}, #{parent.id})
  </insert>
  <update id="updateByPrimaryKey">
    update department
    set sn = #{sn},
      name = #{name},
      manager_id = #{manager.id},
      parent_id = #{parent.id}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, sn, name, state, manager_id, parent_id
    from department
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, sn, name, state, manager_id, parent_id
    from department
  </select>
  <select id="queryCount" resultType="int">
    select count(id) from department
  </select>
  <select id="queryList" resultMap="BaseResultMap">
    select id, sn, name, state, manager_id, parent_id
    from department
    limit #{startIndex}, #{rows}
  </select>
  <select id="selectByName" resultType="department">
    select id,name from department where name = #{name}
  </select>
</mapper>